<div class="home-intro">
    <h5 class="meta-title">Hello, I'm Doyapapa</h5>
    <div class="jumbo">Welcome to {{site.heading}}'s Universe </div>
    <div class="home-sub-text"> <h3>
        Hello and welcome to my blog! 
        Here, I'll be sharing my thoughts, insights, and lessons learned
        From the challenges of starting a business to the programming skills such as AI, Cloud Architecture, Client, Backend Development.
        I'll be sharing it all. I hope this blog will be a source of encouragement and support for anyone who is pursuing their dreams. 
        So come along for the ride, and let's make some great things happen together!  <br />
        Check out the <a href="{{'/notes' | relative_url}}"> Posts </a>, <a href="{{'/post/features' | relative_url}}"> Resume </a> and <a href="{{'/post/how-to' | relative_url}}"> Projects</a>.
        </h3> 
</div> </div>

